html {
    background-image: url(https://i.imgur.com/cc95MzO.jpg);
}

a {
    color: inherit;
}

body {
    width: 75%;
    margin: auto;
    background-color: #4484CE;
    color: white;
}

footer {
    text-align: center;
    font-size: 1.2em;
}

form {
    margin: 2em;
    padding: 0.5em;
    border: solid 1px white;
}

input {
    display: block;
}

.entry {
    margin: 0.5em;
    padding: 2%;
    border: solid 0.1em #F9CF00;
    font-size: 1em;
}

.entry_summary {
    margin: 0.5em;
    padding: 2%;
    border: solid 0.1em #F9CF00;
    font-size: 2em;
    text-align: center;
}

.top_redirect {
    border: solid 2px white;
    border-radius: 20px;
    padding: 0.3em;
}