{% extends "layout.jinja2" %}

{% block content %}
    {% for entry in journals %}
        <div class="entry_summary">
            <a href="{{ request.route_url('detail_view', id=entry.id) }}">{{ entry.title }}</a>
            <p>{{ entry.date }}</p>
        </div>
    {% endfor %}
{% endblock %}
